@import '../icon/iconfont.css';
body {
  background-color: #f5f7f9;
}
.page-nav-bar {
  background-color: #3296fa;
}
.page-nav-bar .van-nav-bar__title,
.page-nav-bar .van-icon {
  color: #fff;
}
.page-van-filed_body .van-field__control {
  border-right: 1px solid #eee;
}
